In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

# les méthodes de prétraitement

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

# les modeles de machine learning pour la situation

from sklearn.model_selection import GridSearchCV

from sklearn.model_selection import learning_curve

from sklearn.linear_model import LogisticRegression

from sklearn.ensemble import RandomForestClassifier,BaggingClassifier

from sklearn.svm import SVC

from sklearn.metrics import  classification_report, accuracy_score

import warnings 
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_excel('heart_disease.xlsx')

In [3]:
data = df.copy()

In [4]:
df.head()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0

# PREPROCESSING

- Encodage des variables qualitatives

In [5]:
def features_ordinal(dataframe,variable):
    '''Fonction permettant d'encoder les variables qualitatives ordinales
    :param dataframe:fournir le dataframe
    :param variable: fournir la liste de variable
    '''
    modalite={
        'femme':0,
        'homme':1,
        'AT':0,
        'AA':1,
        'DNA':2,
        'ASY':3,
        'Normal':0,
        'ST':1,
        'LVH':2,
        'Oui':1,
        'Non':0,
        'Ascendant':0,
        'Plat':1,
        'Descendant':2
        
    }
    for col in variable:
        if dataframe[col].dtype==object:
            dataframe.loc[:,col]=dataframe[col].map(modalite)

In [6]:
variable= df.select_dtypes(object).columns
features_ordinal(df,variable)
df.head()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,1,1,140,289,0,0,172,0,0.0,0,0
1,49,0,2,160,180,0,0,156,0,1.0,1,1
2,37,1,1,130,283,0,1,98,0,0.0,0,0
3,48,0,3,138,214,0,0,108,1,1.5,1,1
4,54,1,2,150,195,0,0,122,0,0.0,0,0